.panel.panel-default{style: "margin-top:70px;border-top-width:1px;"}
  .panel-body
    = link_to '<- Вернуться ко всем кредитам', companies_path
    %hr
    %h3 Кредит #{@credit.display_name} для кампании #{@company.name}
    %p дата выдачи: #{@credit.started_at.strftime('%d.%m.%Y')}
    - if @credit.finished_at?
      %p{style: "background-color:green;color:white;"} кредит выплачен: #{@credit.finished_at.strftime('%d.%m.%Y')}
    - if @credit.payments.blank?
      %p= link_to 'Редактировать условия по кредиту', edit_company_credit_path(@company, @credit)

    = render partial: 'credits/credit_info'

    - if @payments.present?
      = render partial: 'credits/credit_payments'

    - if @credit.finished_at.blank?
      = render partial: 'credits/new_payment'