!!!
%html{:lang => "en", style: 'height:100% !important;'}
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'csrf-param', content: 'authenticity_token' }
    %meta{ name: 'csrf-token', content: "#{form_authenticity_token}" }
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}
    %link{ href: "https://fonts.googleapis.com/css?family=Playfair+Display", rel: "stylesheet"}
    %title Калькулятор доходности по займу
    / PREALOADER (loads asap)
    / FAVICON
    %link{:href => "/img/favicon/favicon.ico", :rel => "icon"}/
    /[if lt IE 9] <script src="js/html5shiv.js"></script><script src="js/respond.min.js"></script>
    = stylesheet_link_tag    'application', media: :all
    = javascript_include_tag 'application'
    :javascript
      if ( window.jQBrowser.mobile && top.location != location) top.location.href = document.location.href;
  %body{style: "height: 100% !important;background: url('/assets/back.jpg') repeat center;"}
    .wrapper{style: "position: relative; min-height: 100%;"}
      .content{style: "padding-bottom: 100px;"}
        / START HEADER
        %header#header.header.novideo
          .full-screen
            / START STICKY NAVBAR
            .navbar.navbar-default.navbar-fixed-top.navbar-sticky
              .container
                .navbar-header
                  %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
                    %span.sr-only
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                  .navbar-brand
                    =link_to "$ Калькулятор доходности", root_url, style: "color:#000000;"
                / MENU
                #navbar-main.navbar-collapse.collapse
                  - [:error, :alert].each do |type|
                    - if flash[type]
                      :javascript
                        sweetAlert({ title: "<h3>#{flash[type]}</h3>", timer: 3000, type: 'error', html: true})
                  - if flash[:success]
                    :javascript
                      sweetAlert({title: "<h3>#{flash[:success]}</h3>", timer: 3000, type: 'success', showConfirmButton: true, html: true });
            / END STICKY NAVBAR
        / END HEADER
        / START APP SHOTS
        %section{style: "padding-top:30px;"}
          .container
            .section-header
              = yield
      / START FOOTER
      %footer#footer{style: 'margin-left:0px;position: absolute;left: 0;bottom: 0;width: 100%;height: 80px;'}
        .container
          .row
            .col-sm-6
            .col-sm-6
              / COPYRIGHT
              %p.copyright Калькулятор доходности по займу © 2017
    / END FOOTER